
.conteudo {
    width: 900px;
    height: 900px;
    background-color: gray;
    margin: 0 auto;
}

.conteudo .caixa-01 {
    width: 299px;
    height: 300px;
    background-color: green;
    border: 10px solid white;
    margin: 11px;
    box-sizing: border-box;
}

.conteudo .caixa-02 {
    width: 299px;
    height: 300px;
    background-color: red;
    margin-top: 100px;
    box-sizing: border-box;
}
