* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


html {
    font-size: 62.5%;
    background-color: #171D26;
}

.s-flex {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

h1 {
    color: #FFFFFF;
    font-size: 48px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #653DF5;
    background-color: #9D85F3;
    width: 50%;
    height: 120px;
    font-size: 3.2rem;
    font-weight: bold;
}

.box.one {
    flex-shrink: 1;
    flex-basis: 200px;
}

.box.two {
    flex-shrink: 2;
    flex-basis: 300px;
}

.box.three {
    flex-shrink: 3;
    flex-basis: 400px;
}

.container {
    display: flex;
    width: 80%;
    min-height: calc(100vh - 200px);
    padding: 4rem;
    border: 2px solid #FFFFFF;
}